body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  color: #fdf0d5;
}

h2 {
  /* color: #c6d8d3; */
  color: #d81e5b;
  /* background-color: #fdf0d5; */
  margin: 0;
  padding: 2rem 0 1rem 0;
  font-family: 'Rings';
  text-decoration: underline;
}

fieldset {
    font-family: 'Rings';
    grid-template-columns: 1fr 1fr;
    color: #fdf0d5;
    background-color: #d81e5b;
    border: none;
    margin: 2rem auto;
    width: 60vw;
    & input {
      width: 50%;
      padding: 0.5rem;
      border: 1px solid #331832;
    }
}

.section-create {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
